.bg-black.text-yellow.board {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
}

.board{
    background: url('../assets/img/bg-pattern.svg');
    background-repeat: repeat;
    background-position: center center;
}

.board div h2{
    font-size: 80px;
}

.img-board{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

img.globosSuperiores{
    width: 250px;
    height: 300px;
    margin-left: auto;
    transform: rotateX(180deg) rotateY(180deg);
    margin-bottom: -15%;
    position: relative;
    margin-top: -3%;
}

img.imgGlobos {
    width: 250px;
    height: 300px;
}

img.imgWarner {
    width: 180px;
    height: 60px;
    margin-right: 4em;
    margin-bottom: 2em;
}