.bg-black.text-yellow.board {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
}

.board{
    background: url('../assets/img/bg-pattern.svg');
    background-repeat: repeat;
    background-position: center center;
}

.board div h2{
    font-size: 30px;
}

.img-board{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

img.imgGlobos {
    width: 300px;
    height: 300px;
}

img.imgWarner {
    width: 250px;
    height: 80px;
    margin-right: 4em;
    margin-bottom: 2em;
}