.option-button {
    background-color: #232323;
    border: 1px solid #fbe94e;
    border-radius: 8px;
    color: #fbe94e;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: .3s ;
  }
  
  .option-button:hover {
    background-color: #fbe94e;
    color: #232323;
  }
  